body {
    text-align: center;
}

header {
    text-align: left;
}

.main {
    color: white;
    width: 100%;
}

.content {
    background-color: rgb(49, 49, 49);
    color: white;
    text-align: left;
    width: 50%;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    font-weight: bold;
}

.content div {
    margin-top: 15px;
}

@media screen and (max-width: 1200px) {
    .content {
        width:60%;
    }
}

@media screen and (max-width: 990px) {
    .content {
        width:70%;
    }
}

@media screen and (max-width: 850px) {
    .content {
        width: 80%;
    }
}

@media screen and (max-width: 740px) {
    .content {
        width: 90%;
    }
}
